<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">
        管理者の方は</br>こちらからログイン
      </h5>
      
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          
          <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
            <div class="form-group row">
              <%= f.label "メールアドレス", class: "col-3 px-0 mx-auto" %>
              <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", class: "col-7 mx-auto" %>
            </div>
            <div class="form-group row">
              <%= f.label "パスワード", class: "col-3 px-0 mx-auto" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "col-7 mx-auto" %>
            </div>
            <div class="form-group row">
              <span class="col-5"></span>
              <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
            </div>
          <% end %>
         
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "admin/shared/links" %>

