<h4 class="ml-5">レビュー</h4>

<table class="table table-bordered col-md-10 offset-md-1">
  
  <thead>
    <td>タイトル</td>
    <td>投稿者</td>
    <td>コメント</td>
    <td>5段階評価</td>
  </thead>
  
  <tbody>
      <% menu.reviews.each do |review| %>
      <tr>
        <td><%= review.title %></td>
        <td>
          <%= link_to admin_review_path(review.id) do %>
            <%= review.customer.first_name %>
            <%= review.customer.last_name %>
          <% end %>
        </td>
        <td><%= review.content %></td>
        <td>
          <%= review.star %>
          <div id="post_raty<%= review.id %>"></div>
          <script>
            $(function() {
            let raty_elem = document.querySelector('#post_raty<%= review.id %>');
            raty_elem.innerHTML = ""
            let option = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= review.star %>",
                readOnly: true
              };
            raty(raty_elem,option);
           });
          </script>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>