<div class='container px-1'>
  
  <div class="row">
      
    <%= render 'public/menus/list', genres: @genres %>

    <div class='col-8 offset-1 mt-5'>
      
      <h5>商品一覧(全<%= @menus.count %>件)</h5>
      
      <div class="row no-gutters">
        <% @menus.each do |menu| %>
          <div class="col-4 mx-4 text-center shadow-lg rounded pt-4 px-0 bg-light">
            <%= link_to menu_path(menu) do %>
              <div class="text-dark tr-color h-100">
                <%= image_tag menu.get_image(175, 150) %>
                <div>
                  <h6 class="py-4 mb-0"><%= menu.name %></h6>
                  <p> ￥<%= menu.tax_in_price %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
 
  </div>

</div>

<!--ページネーション-->
<div class="d-flex justify-content-center">
 <%= paginate @menus %>
</div>