<div class='container pl-2'>

  <div class="row align-items-center pl-5">

    <div class='col-5 pt-5 pr-5'>
      <%= image_tag @menu.get_image(300, 240) %>
    </div>

    <div class='col-4 pt-5 pl-5'>

      <h5><%= @menu.name %></h5>

      <%= @menu.info %>

      <div>￥<%= @menu.tax_in_price %>(税込)</div>
      
      <% if customer_signed_in? %> 
        <% if @menu.is_sale? %>
          <%= form_with(model: @cart_item, url: cart_items_path, local: true) do |f| %>
            <div class="mt-5">
              <%= f.select :count, *[1..99], { selected: nil, include_blank: '個数選択'}, { class: "select"} %>
              <%= f.hidden_field :menu_id, :value => @menu.id %>
              <%= f.submit "カートに入れる", class:"btn btn-success btn-sm" %>
            </div>
          <% end %>
        <% else %>
          <div class="btn btn-secondary btn-sm mt-5">売り切れ中です</div>
        <% end %>
      <% end %>

    </div>
    
  </div>
  
  <div class="row my-5">
    <%= render 'public/reviews/index', menu: @menu %>
  </div>

  
  <div class="pl-5 my-5">
    <%= render 'public/reviews/form',{ review: Review.new, menu: @menu } %>
  </div>
  
</div>

