<div class="container">
  
  <div class="row mt-5">
  
    <h5>ショッピングカート</h5>
    
    <!--カート内の商品をすべて削除する機能、削除前にメッセージが出ます-->
    <div class="col-md-4 offset-md-10 mb-4">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-sm" %>
    </div>
  
  </div>

  <div class="row">
    
    <!--カート内商品の個数などの詳細が表示されます-->
    <table class="table col-md-12 justify-content-center">
      
      <thead>
        <tr>
          <th>商品名</th>
          <th></th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th colspan=""></th>
        </tr>
      </thead>
      
      <tbody>
        
        <% @cart_items.each do |cart_item|  %>
          
          <tr>
            <td><%= image_tag cart_item.menu.get_image(210, 140) %></td>
            <td><%= cart_item.menu.name %></td>
            <td><%= cart_item.menu.tax_in_price %>円</td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), class: "form-inline" do |f| %>
                <%= f.select :count, *[1..99], class: "form-control" %>
                <%= f.submit "変更", class:"btn btn-success btn-sm" %>
              <% end %>
            </td>
            <td><%= cart_item.subtotal_price %>円</td>
            <td>
              <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
          
        <% end %>
      
      </tbody>
   
    </table>

    <div class="col-md-6">
      <%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %>
    </div>
    
    <table class="table table-bordered col-md-3">
      <tr>
        <td>合計金額</td><td><%= @cart_items.sum(&:subtotal_price) %>円</td>
      </tr>
    </table>

  </div>

  <!--商品がある場合とない場合で表示が変わります-->
  <% if @cart_items.exists? %>
    <div class="d-flex justify-content-center mt-5">
      
      <div class="row">
        <%= link_to "情報入力に進む", new_order_path, class:"btn btn-success" %>
      </div>
    
    </div>
  <% else %>
    <p>現在カートに商品はありません</p>
  <% end %>

</div>