<!DOCTYPE html>
<html>
  <head>
    <title>Hanview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script>
    jQuery(document).ready(function() {
    var offset = 100;
    var duration = 500;
    jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > offset) {
    jQuery('.pagetop').fadeIn(duration);
    } else {
    jQuery('.pagetop').fadeOut(duration);
    }
    });
    
    jQuery('.pagetop').click(function(event) {
    event.preventDefault();
    jQuery('html, body').animate({scrollTop: 0}, duration);
    return false;
    })
    });
    </script>
  </head>

  <body>
    <header class="sticky-top bg-light">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container col-10">
          <a class="navbar-brand" href="/"><%= image_tag('HanView1.png')%></a>
          <div class="ml-5">  
            <%= render 'layouts/search'%>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
              <!--会員がログインしている場合-->
              <li style="color:white;" class="pt-2 mr-5"><span class="bg-info p-2">ようこそ<%= current_customer.first_name %><%= current_customer.last_name %>さん！</span></li>
               <li>
                 <%= link_to customers_mypage_path, class: 'nav-link text-dark' do %>
                   <i class="fas fa-user"></i> マイページ
                 <% end %>
               </li>
               <li>
                 <%= link_to menus_path, class: 'nav-link text-dark' do %>
                   <i class="fas fa-store"></i> 商品一覧
                 <% end %>
               </li>
               <li>
                 <%= link_to cart_items_path, class: 'nav-link text-dark' do %>
                   <i class="fas fa-shopping-cart"></i> カート
                 <% end %>
               </li>
               <li>
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-out-alt"></i> Log out
                <% end %>
               </li>
              <% elsif  admin_signed_in? %>
              <!--管理者がログインしている場合-->
               <li>
                 <%= link_to admin_menus_path, class: 'nav-link text-dark' do %>
                 <i class="fas fa-store"></i> 商品一覧
               <% end %>
               </li>
               <li>
                <%= link_to admin_customers_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-user-circle"></i> 会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-clipboard-list"></i> 注文履歴一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-link"></i> ジャンル一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fas fa-sign-out-alt"></i> Log out
                <% end %>
              </li>
              <% else %>
              <!--ログインしていない状態-->
                <li>
                  <%= link_to menus_path,class: 'nav-link text-dark' do %>
                    <i class="fas fa-store"></i> 商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path,class: 'nav-link text-dark' do %>
                    <i class="fas fa-user-plus"></i> 新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path,  class: 'nav-link text-dark' do %>
                    <i class="fas fa-sign-in-alt"></i> Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          
        </div>
        
        
        
      </nav>
    </header>

    <%= flash[:notice] %>

    <%= yield %>
    
    <div class="pt-5">
      <footer class="bg-light fixed-bottom">
        <div class='container'>
          <div class='row'>
            <div class='mx-auto'>
              <p class="footer-write pt-3">CopyRight MASUDA JION.inc</p>
            </div>
            <div class="pagetop">↑</div>
          </div>
        </div>
      </footer>
    </div>

  </body>
</html>


